.container
  .block-form
    = form_tag(:turn, id: 'turn', remote: true, class: 'form') do
      = hidden_field_tag 'id'
      = submit_tag 'ok', class: 'turn_submit'
      %h1.page-header
        .bg-primary
          PLAYING
          %span#player= @players.current.name
        .bg-primary
          WITH SYMBOL
          %span#symbol= @players.current.symbol

      #board.block-form
        %table.grid
          %tr#row1
            %td.square#0
            %td.square.v#1
            %td.square#2
          %tr#row2
            %td.square.h#3
            %td.square.v.h#4
            %td.square.h#5
          %tr#row3
            %td.square#6
            %td.square.v#7
            %td.square#8

  .hide
    %table.table.table-responsive.table-bordered
      %thead
        %tr
          %th
            Name
          %th
            Symbol
          %th
            Won?
      %tr.success
        %td
          1
        %td
          2
        %td
          3